@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
 font-family: 'Roboto', sans-serif;
 display: flex;
 flex-direction: column;
 margin: 0;
}

p {
  margin: 0;
}



/* Header styling */

.header {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 128px;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

.header-links a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
  margin-left: 24px;
}

/* Hero styling */

.hero-content {
  background-color: #1F2937;
  display: flex;
  padding: 80px 128px;
  gap: 48px;
}



.hero-title {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin-block-start: 0;
  margin-block-end: 0;
}


.hero-subtext {
  font-size: 18px;
  color: #E5E7EB;
  margin-bottom: 12px;
}

.hero-image {
  color: white;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 500px;
  height: 240px;
}

.hero-btn {
  background-color: #3882F6;
  border: none;
  color: white;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;

}
